{% extends "base.html" %}

{% block navctr %}
<a href="/top" class="btn btn-outline-dark" type="submit">Top 5 artworks</a>
<a href="/feed/1" class="btn btn-outline-dark" type="submit">All posts</a>
{% if current_user.is_authenticated %}
&nbsp;&nbsp;&nbsp;
<a href="/subfeed/1" class="btn btn-outline-dark" type="submit">My feed</a>
<a href="/newpost" class="btn btn-outline-dark" type="submit">New post</a>
{% endif %}
{% endblock %}
{% block navbut %}
{% if current_user.is_authenticated %}
<div class="d-flex align-middle justify-content-center gap-3">
    <a href="/me">
        <img src="/static/img/avatar/{{current_user.avatar}}.png" class="img-fluid rounded-circle" alt=""
             height="30px"
             width="30px">
    </a>
    <a href="/me" class="text-decoration-none link-dark">
        <h4>{{current_user.name}}</h4>
    </a>
    <div class="btn-group">
        <button class="btn btn-secondary btn-sm dropdown-toggle" type="button" data-bs-toggle="dropdown"
                aria-expanded="false">
            More...
        </button>
        <ul class="dropdown-menu dropdown-menu-lg-end">
            <li><a class="dropdown-item" href="/posts/1">My posts</a></li>
            <li><a class="dropdown-item" href="/bookmarks/1">My bookmarks</a></li>
            <li><a class="dropdown-item" href="/me">My profile</a></li>
            <li><a class="dropdown-item" href="/me/options">Edit profile</a></li>
            <li><a class="dropdown-item" href="/subscribers">My subscribers</a></li>
            <li><a class="dropdown-item" href="/subscribers">My subscriptions</a></li>
            <li><a class="dropdown-item" href="/logout">Log out</a></li>
        </ul>
    </div>
</div>

{% else %}
<a href="/logreg" class="btn btn-outline-dark" type="submit">Log in/Register</a>
{% endif %}
{% endblock %}

