{% extends "base_with_profile_opt.html" %}

{% set ns = namespace(next_dis=false) %}


{% block paginator %}
<div align="center">
    <nav aria-label="Paginate">
        <ul class="pagination justify-content-center">
            {% if page == 1 %}
            <li class="page-item disabled">
                <a class="page-link" tabindex="-1">Previous</a>
            </li>
            {% else %}
            <li class="page-item">
                <a class="page-link" href="{{page - 1}}">Previous</a>
            </li>
            {% endif %}
            {% if not ns.next_dis %}
            <li class="page-item">
                <a class="page-link" href="{{page + 1}}">Next</a>
            </li>
            {% else %}
            <li class="page-item disabled">
                <a class="page-link" tabindex="-1">Next</a>
            </li>
            {% endif %}
        </ul>
    </nav>
</div>
{% endblock %}

