{% extends "base_profile_pagination.html" %}

{% block content %}
<div class="container-fluid">
    <br>
    <h3 align="center">{{page_title}}</h3>
    <br>
    <div class="d-flex flex-wrap">
        <div class="container">
            <div class="row grid" data-masonry='{"percentPosition": true }'>
                {% for bkmrk in bkmrks %}
                <div class="col-sm-6 col-lg-4 mb-4">
                    <div class="card mb-3" style="width: 18rem;">
                        <div class="card-header">
                            <a href=/item/{{bkmrk.content.content_img}}>
                                <img src={{bkmrk.content.content_img}} class="card-img-top"
                                     alt="...">
                            </a>
                        </div>
                        <div class="card-body">
                            <h5 class="card-title"><a class="text-decoration-none"
                                                      href='/item/{{bkmrk.content.content_src}}'>{{bkmrk.content.content_title}}</a>
                            </h5>
                            <p class="card-text">{{bkmrk.content.content_creator}}</p>
                            <p class="card-text"><small class="text-muted">{{bkmrk.content.content_date}}</small></p>
                            {% if current_user.is_authenticated and personal %}
                            <p style="width:70px;">
                                <a href='/remove_bookmark/{{bkmrk.id}}'><img
                                        src="/static/img/star.png" width="20"
                                        height="20"/></a>
                            </p>
                            {% endif %}
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>

</div>
<script src="js_masonry_fix.js"></script>
{% endblock %}

