{% extends "base.html" %}

{% block content %}
<div class="container-fluid">
    <br>
    <div align="center">
        <div class="w-25">
            <h1 align="left">Log in</h1>
            <form action="" method="post">
                {{ form.hidden_tag() }}
                <p>
                    <p align="left">{{ form.login.label }}</p>
                    {{ form.login(class="form-control", type="email", placeholder="Email") }}
                </p>
                <p>
                    <p align="left">{{ form.password.label }}<p>
                    {{ form.password(class="form-control", type="password", placeholder="Password") }}
                </p>
                <p>{{ form.submit(type="submit", class="btn btn-primary") }}</p>
                <div>{{ message }}</div>
            </form>
        </div>
    </div>
</div>
{% endblock %}