{% extends "base_with_profile_opt.html" %}

{% block content %}
<div class="container-fluid">
    <br>
    <h1>Welcome to Art Heritage Search!</h1>
    <br>
    <h3>The go-to place for art - research, get inspired, connect with your ancestry.</h3>
    <br>
    <form action="" method="post">
        <div class="input-group mb-3">
            <input type="text" class="form-control" name="plain_query" placeholder="Embark on an adventure"
                   aria-label="Embark on an adventure"
                   aria-describedby="button-addon2">
            <button class="btn btn-outline-dark" type="submit" id="button-addon2">Search</button>
        </div>
    </form>
</div>
{% endblock %}

