{% extends "base.html" %}

{% block navbut %}
<button class="btn btn-outline-dark" type="submit">Log in/Register</button>
{% endblock %}

{% block content %}
<div class="container-fluid">
    <br>
    <h1>Welcome to Art Heritage Search!</h1>
    <br>
    <h3>The go-to place for art - research, get inspired, connect with your ancestry.</h3>
</div>
<br>
<div class="input-group mb-3">
    <input type="text" class="form-control" placeholder="Embark on an adventure" aria-label="Embark on an adventure"
           aria-describedby="button-addon2">
    <button class="btn btn-outline-dark" type="button" id="button-addon2">Search</button>
</div>
{% endblock %}

