{% extends "base.html" %}

{% block content %}
<div class="container-fluid">
    <br>
    <h1>Register</h1>
    <form action="" method="post" enctype="multipart/form-data">
        {{ form.hidden_tag() }}
        <p>
            {{ form.avatar(class="form-control") }}
        </p>
        <p>
            {{ form.login.label }}<br>
            {{ form.login(class="form-control", type="email", placeholder="Email") }}
        </p>
        <p>
            {{ form.password.label }}<br>
            {{ form.password(class="form-control", type="password", placeholder="Password") }}
        </p>
        <p>
            {{ form.password_repeat.label }}<br>
            {{ form.password_repeat(class="form-control", type="password", placeholder="Repeat password") }}
        </p>
        <p>
            {{ form.name.label }}<br>
            {{ form.name(class="form-control", placeholder="Name") }}
        </p>
        <p>
            {{ form.username.label }}<br>
            {{ form.username(class="form-control", placeholder="Username") }}
        </p>
        <p>
            {{ form.about.label }}<br>
            {{ form.about(class="form-control", placeholder="About me...") }}
        </p>
        <br>
        <p>{{ form.submit(type="submit", class="btn btn-primary") }}</p>
        {{message}}
    </form>
</div>
{% endblock %}