{% extends "base_with_profile_opt.html" %}

{% block content %}
<div class="container-fluid">
    <br>
    <h3 align="center">Search Results</h3>
    <br>
    <form action="" method="post">
        <div class="input-group mb-3">
            <input type="text" class="form-control" name="plain_query" placeholder="Embark on an adventure"
                   value="{{request.args.get('q')}}"
                   aria-label="Embark on an adventure"
                   aria-describedby="button-addon2">
            <button class="btn btn-outline-dark" type="submit" id="button-addon2">Search</button>
        </div>
    </form>
    <p>
        <button class="btn btn-link shadow-none" type="button" style="text-decoration: none;" data-bs-toggle="collapse"
                data-bs-target="#advancedSearch"
                aria-expanded="false" aria-controls="advancedSearch">
            Advanced Search
        </button>
    </p>
    <div class="collapse" id="advancedSearch">
        <div class="card card-body">
            <form action="" method="post">
                {{ form.hidden_tag() }}
                {% for field in ad_form %}
                {{ field.label }}<br>
                {% if field == ad_form.exist %}
                {{ field() }}
                {% else %}
                {{ field(class="form-control") }}
                {% endif %}
                <br>
                {% endfor %}
            </form>
        </div>
    </div>

    <br>
    {% set ending = 'full/full/0/default.jpg' %}
    <div class="d-flex flex-wrap">
        <div class="card-deck">
            {% for card in file %}
            {% if "_iiif_image_base_url" in card["_images"] %}
            {% set link = card["_images"]["_iiif_image_base_url"] ~ ending %}
            {% else %}
            {% set link = '/static/img/missing.png' %}
            {% endif %}
            <div class="card mb-3" style="max-width: 600px;">
                <div class="row g-2">
                    <div class="col-md-4">
                        <a href={{link}}>
                            <img src={{link}} class="card-img"
                                 alt="...">
                        </a>
                    </div>
                    <div class="col-md-8">
                        <div class="card-body">
                            <h5 class="card-title"><a class="text-decoration-none"
                                                      href='/item/{{card["systemNumber"]}}'>{{card["_primaryTitle"]}}</a>
                            </h5>
                            <p class="card-text">{{card["_primaryMaker"]["name"]}}</p>
                            <p class="card-text"><small class="text-muted">{{card["_primaryDate"]}},
                                {{card["_primaryPlace"]}}</small></p>
                            <p style="width:70px;">
                                <a href='/newpost?iid={{card["systemNumber"]}}&query="{{query}}"'><img
                                        src="/static/img/add_post.png" width="20"
                                        height="20"/></a>
                                <a href='/add_bookmark?iid={{card["systemNumber"]}}&query="{{query}}"'><img
                                        src="/static/img/star.png" width="20"
                                        height="20"/></a>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</div>


{% endblock %}

