{% extends "base_with_profile_opt.html" %}

{% block content %}
<div class="container-fluid">
    <br>
    <h3 align="center">{{ppl_assoc}}</h3>
    <br>
    <div class="d-flex flex-wrap justify-content-center w-50">
        <div class="card-deck">
            {% for user in users_l %}
            <div class="card card-limited">
                <div class="card-body">
                    <a href="/user/{{user[0]}}">
                        <img src="/static/img/avatar/{{user[2]}}.png" class="img-fluid rounded-circle"
                             alt=""
                             height="30px"
                             width="30px">
                    </a>
                    <a href="/user/{{user[0]}}" class="text-decoration-none link-dark">
                        <h4>{{user[1]}}</h4>
                    </a>
                </div>
            </div>
        </div>
        <br>
        {% endfor %}
    </div>
</div>
</div>


{% endblock %}